body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  color: var(--color);
  background-color: var(--background);
  min-height: 100vh;
}

.nav {
  padding: 20px;
  border: 1px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.project-title{
  flex-grow: 1;
}

.drop-menu {
  padding: 5px;
  margin-left: 20px;
}

.emp-list {
  margin: 0 auto;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}