body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("tech background.jpg");
  background-size:cover;
  background-position: top;
  background:cover;
  color: white;

  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  color: var(--color);
  background-color: var(--background);
  min-height: 100vh;
}
.App.light {
  --color: var(--black);
  --background: var(--white);
  --primary: var(--dark-turquoise);
}
/* for the IT Help Desk title */
.ithds-header{

}

.nav {
  padding: 20px;
  border: 1px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.project-title{
  flex-grow: 1;
}

.drop-menu {
  padding: 5px;
  margin-left: 20px;
}

.emp-list {
  /* margin: 0 auto; */
  /* list-style: none; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* grid-template-columns: repeat(auto-fill, minmax(px, 1fr)); */
  /* gap: 1.5rem; */
  /* color:white; */
  /* display:column; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* display: block; */
  /* display: inline; */
  /* display: inline-block; */
  /* display: flex; */
  /* display: inline-flex; */
  /* display: grid; */
  /* display: inline-grid; */
  /* display: flow-root; */
}

h2 {
  color: white;
}

.ticket-form {

}

button.active,
button:focus,
button:hover {
  color: red;
  background-color: orange;
  
}

.ticket-form {
  /* display: flex;
  width: "500px";
  margin: "0 auto";
  border: "2px solid var(--dark-turquoise)";
  padding: "1.75rem";
  margin-top: "0.25rem";
  margin-bottom: "1rem";
  padding: "0.5rem";
  border: "none";
  font-size: "1.25rem";
  font-weight: "bold";
  transition: "all 0.3s";
  border: "2px solid var(--color)";
  color:"black" */
}



